/* About section */
.about {
    padding: 2.5rem 0 10rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about .title {
    width: 100%;
    height: auto;
    padding-bottom: 10rem;
    text-align: center;
}

.about .title h2 {
    line-height: 1.1;
    font-size: 7.2rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-dark);
}

.about .title p {
    margin-top: 2rem;
    font-size: 2.4rem;
    line-height: 1.2;
    color: var(--color-dark-hover);
    font-weight: var(--font-weight-normal);
}

.about .content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100%;
    padding: 13.4rem 8rem 10rem 13.2rem;
    gap: 5rem;
    border-radius: 24px;
    background: var(--color-background);
    box-shadow: 0 8px 32px var(--color-text-dark);
}


/*  834px - 1068px - Laptop Sections */
@media screen and (min-width: 834px) and (max-width: 1068px) {
    .earn {
        padding: 2.5rem 0 10rem 0;
    }

    .earn .title {
        padding-bottom: 20rem;
    }

    .earn .title h2 {
        font-size: 5rem;
    }

    .earn .card {
        padding: 13rem 8rem;
    }
}



/*  576px - 833px - Tablet Sections */
@media screen and (min-width: 576px) and (max-width: 833px) {
    .earn {
        padding: 5rem 0;
    }

    .earn .title {
        padding-bottom: 10rem;
    }

    .earn .title h2 {
        font-size: 5rem;
    }

    .earn .card {
        flex-direction: column;
        padding: 4rem 3.2rem;
        gap: 4rem;
    }
}



/*  575px and Lower - Mobile Sections */
@media screen and (max-width: 575px) {
    .earn {
        padding: 2.5rem 0;
    }

    .earn .title {
        padding-bottom: 5rem;
    }

    .earn .title h2 {
        font-size: 3rem;
    }

    .earn .title p {
        font-size: 2rem;
    }

    .earn .card {
        flex-direction: column;
        padding: 3rem 2rem;
        gap: 2.5rem;
    }
}